.theme-btn{
    background-color: lightblue;
    color: white;
    list-style-type: none;
}
body {
  background: #a844a3 !important;
}
.imgbg {
  top: 50%;
  left: 50%;
}
.radius {
  border-radius: 2em !important;
}
.bg-yellow {
  background-color: #ffce47 !important;
}
.color-violet {
  color: #a844a3 !important;
}
.txt-white {
  color: #fff;
}
.txt-pink {
  color: #fe96c8;
}
.txt-yellow {
  color: #fed135 !important;
}
.nav {
  text-decoration: none;
}